@import '../../theme/variables.scss';
page-home {
    .main {
        background: map-get($colors, 'background');
        .chats {
            .chat {
                margin: 10px 0px;
                padding-bottom: 10px;
                border-bottom: none;
                border: none;
                width: 85%;
                .time {
                    position: absolute;
                    right: 3px;
                    bottom: 2px;
                    font-size: .8em;
                    color: grey;
                }
                &.me {
                    text-align: right;
                    color: black;
                    background: map-get($colors, 'light');
                    float: right;
                }
            }
        }
    }
    .footer {
        border: none;
        border-radius: 0;
        box-shadow: none;
        padding-bottom: 3px;
        ion-toolbar {
            .messagebar {
                width: 80%;
                border-radius: 20px;
                background: white;
                margin-right: 2px;
                display: inline-block;
                height: 45px;
                vertical-align: bottom;
                padding-left:30px;
            }
            .sendbtn {
                border-radius: 50%;
                padding: 0px;
                height: 45px;
                width: 45px;
                vertical-align: bottom;
                margin-bottom:1px;
                font-size: 1.3em;
            }
        }
    }
}